/* Nova Card CSS */
.btnOuterMachineReport {
  position: absolute;
  right: 0px;
  top: 75px;
  height: 36px; /* Set the height */
  display: flex; /* Optional: Centers content vertically */
  align-items: center; /* Ensures vertical alignment */
}
