.chart-card {
  /* padding: 1.5rem; */
}

.chart-card + .chart-card {
  margin-top: 1.5rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--60);
  padding: 1rem 1.5rem;
}

.card-body {
  padding: 1.5rem;
}

.chart-div {
  min-height: 400px;
  /* position: relative; */
}

.chart-loder {
  display: grid;
  height: 400px;
  place-content: center;
}
