.fw-600 {
  font-weight: 600;
}

//

.loader-wrap {
  position: relative;

  .loader-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    background-color: rgba(#fff, 0.5);
    z-index: 5;
  }

  .spinner-loder {
    width: 3rem;
    height: 3rem;
  }
}

//

body {
  .table {
    > :not(:first-child) {
      border-top: inherit;
    }

    th {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      background-color: var(--bs-body-bg);
    }
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: var(--bs-gray-900);
  }
}

//

.invalid-msg {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

//

.VueTables {
  .col-md-12:not(.VuePagination, .VuePagination__count) {
    display: flex;
    justify-content: space-between;
  }

  .VueTables__search-field,
  .VueTables__limit-field {
    display: flex;
    align-items: center;

    > label {
      margin-right: 0.5rem;
      font-weight: 600;
    }
  }

  .VueTables__limit-field {
    .form-control {
      @extend .form-select;

      background-color: #fff !important;
    }
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-control {
    width: auto;
    background-color: #fff;

    &:focus {
      background-color: #fff;
    }
  }

  .table {
    background-color: #fff;

    tr > th,
    tr > td {
      vertical-align: middle;

      &:first-of-type {
        width: 30%;
      }

      &:nth-of-type(2) {
        width: 30%;
      }

      &:last-of-type {
        white-space: nowrap;
        width: 180px;
        text-align: center;
      }
    }
  }

  .pagination {
    justify-content: center;
  }
}
