// scss-docs-start grid-breakpoints
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1500px,
// ) !default;
// scss-docs-end grid-breakpoints

// scss-docs-start container-max-widths
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1520px,
// ) !default;
// scss-docs-end container-max-widths

// Colors
$primary: #ffc107;
// $secondary: #595e6f;
// $dark: #555555;
// $light: #fafafa;

$box-shadow: 3px 0px 22px rgba(#000, 0.05);

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
// $font-family-sans-serif: "Compass", sans-serif;
$font-size-base: 0.875rem;
// $line-height-base: 1.6;
// $headings-font-weight: 700;

// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

// Options
// $enable-rounded: false;
// $input-font-size: 0.875rem;
// $input-line-height: 2;
$input-border-radius: 3px;
$input-btn-focus-box-shadow: unset;
// $input-focus-border-color: $primary;
$form-select-focus-box-shadow: unset;
$btn-active-box-shadow: unset;
$btn-focus-box-shadow: unset;
$btn-box-shadow: unset;
$btn-focus-width: 0;
// $btn-padding-y: 0.5rem;
// $btn-padding-x: 1rem;
$table-cell-padding-y: 0.6rem;

// $breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%23009fff'/%3E%3C/svg%3E");
$breadcrumb-font-size: 0.875rem;

// $input-bg: #fafafa;
// $input-border-width: 0;
// $form-check-input-width: 1.125em;
// $form-check-input-bg: #fafafa;
// $form-check-input-border: none;

// $input-btn-font-size-sm: 0.75rem;
// $btn-font-size: 0.875rem;

// $input-btn-font-size-lg: 1.125rem;

// $grid-gutter-width: 2.125rem;

// $card-spacer-y: 1.875rem;
// $card-spacer-x: 1.875rem;

// $table-cell-padding-y: 1.5rem;
// $table-cell-vertical-align: middle;

//
// $dropdown-border-width: 0;
//

// $pagination-border-width: 0;
// $pagination-bg: $light;
// $pagination-bg: $dark;
$pagination-padding-y: 0.225rem;
$pagination-padding-x: 0.75rem;
$pagination-hover-color: #fff;
// $pagination-hover-bg: $primary;
// $pagination-hover-border-color: $primary;

// Body
$body-bg: #f3f6f9;
$body-color: #555;
