<template>
      <div  class="btnOuter">
          <a class="btn btn-default btn-primary" v-if="dashboardUrl" :href="dashboardUrl" target="_blank"> Dashboard</a>
      </div>
</template>

<script>
export default {
    props: [
        'card',

        // The following props are only available on resource detail cards...
        'resource',
        'resourceId',
        // 'resourceName',
    ],
    data(){
      return {
        dashboardUrl : null,
      };
    },

    mounted() {
      let station = {};
      this.resource.fields.forEach((item, index) => {
        station[item.attribute] = item.value;
      });
      if(station.client_uuid){
        this.dashboardUrl = '/'+station.client_uuid+'/location/'+station.id+'/dashboard'
      }

      console.log('this is dashbaord',this.dashboardUrl);
    },
}
</script>
