<template>
  <div class="container">
    <div class="card">
      <div class="card-header">Example Component Test</div>
      <div class="card-body">I'm an example component.</div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log("Component mounted.hello");
  },
};
</script>
