<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header">Invitation Form</h5>
          <div class="card-body">
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label text-end">Name</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  v-model="userForm.name"
                />
                <div
                  class="invalid-msg"
                  v-if="userForm.errors.has('name')"
                  v-html="userForm.errors.get('name')"
                />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label text-end">Password</label>
              <div class="col-sm-8">
                <input
                  type="password"
                  class="form-control"
                  v-model="userForm.password"
                />
                <div
                  class="invalid-msg"
                  v-if="userForm.errors.has('password')"
                  v-html="userForm.errors.get('password')"
                />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label text-end"
                >Password Confirmation</label
              >
              <div class="col-sm-8">
                <input
                  type="password"
                  class="form-control"
                  v-model="userForm.password_confirmation"
                />
                <div
                  class="invalid-msg"
                  v-if="userForm.errors.has('password_confirmation')"
                  v-html="userForm.errors.get('password_confirmation')"
                />
              </div>
            </div>
            <div class="text-end mt-3">
              <button
                class="btn btn-primary"
                v-on:click="acceptInvite(inviteCode)"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from "vform";

export default {
  props: ["inviteCode"],
  mounted() {
    //console.log('this is invite code',this.inviteCode);
  },
  data() {
    return {
      loader: {
        invite: false,
      },
      userForm: new Form({
        name: null,
        password: null,
        password_confirmation: null,
      }),
    };
  },
  methods: {
    acceptInvite(inviteCode) {
      this.loader.invite = true;
      this.userForm
        .post("/ajax/users/accept-invite/" + inviteCode)
        .then((res) => {
          this.$toastr.s("Success", "User updated!");
          this.userForm.reset();
          window.location.replace("/");
        })
        .catch((error) => {
          this.$toastr.e("Error", "Some thing went wrong.");
        })
        .finally(() => (this.loader.invite = false));
    },
  },
};
</script>
