<template>
  <div class="container">
    <h1 class="h5 fw-bold mb-3">Locations List</h1>
      <v-client-table :data="locations" :columns="columns" :options="options">
        <span slot="address" slot-scope="{ row }">
          {{ row.address_1 }}
        </span>
        <span slot="action" slot-scope="{ row }">
         <a class="btn btn-primary btn-sm" role="button" :href="'/'+clientUuid+'/location/'+row.id+'/dashboard'" ><i class="fa-solid fa-gauge"></i> Dashboard</a>
        </span>
      </v-client-table>
  </div>
</template>

<script>
import { ServerTable, ClientTable, Event } from "vue-tables-2";
Vue.use(ClientTable);
export default {
  props: ["clientUuid"],
  mounted() {
    this.getLocations(this.clientUuid);
    console.log(this.clientUuid);
  },
  data() {
    return {
      columns: ['id','name', 'address','action'],
      locations: [],
      options: {
        filterAlgorithm: {
          address(row, query) {
            return ( row.address_1).includes(query);
          }
        }
      },
    };
  },
  methods: {
    getLocations(clientUuid) {
      axios.get("/ajax/" + clientUuid + "/locations").then((res) => {
        this.locations = res.data;
      });
    },
  },
};
</script>
