<template>
  <div>
    <h1 class="h2">{{ location.name }}</h1>

    <div class="row mt-4">
      <div class="col-md-3">
        <div
          class="bg-dark p-3 rounded sticky-top"
          style="--bs-bg-opacity: 0.85; top: 1rem"
        >
          <div
            class="nav flex-column nav-pills me-3"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <button
              class="nav-link btn-dark text-start active"
              id="v-pills-home-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-home"
              type="button"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
            >
              Performance
            </button>
            <button
              class="nav-link text-start"
              id="v-pills-profile-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-profile"
              type="button"
              role="tab"
              aria-controls="v-pills-profile"
              aria-selected="false"
            >
              Location
            </button>
            <!-- <button
             class="nav-link text-start"
             id="v-pills-messages-tab"
             data-bs-toggle="pill"
             data-bs-target="#v-pills-messages"
             type="button"
             role="tab"
             aria-controls="v-pills-messages"
             aria-selected="false"
           >
             Member Ship
           </button> -->
            <button
              class="nav-link text-start"
              id="v-pills-email-us-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-email-us"
              type="button"
              role="tab"
              aria-controls="v-pills-email-us"
              aria-selected="false"
            >
              Support
            </button>
            <a role="button" href="/logout" class="nav-link text-start"
              >Logout</a
            >
          </div>
          <div class="mt-4 text-white">
            <h4>Your GlitzAir Team</h4>
            <p class="mb-2">
              <strong class="text-primary d-block">Ameer Hamza</strong>
              Customer Service
            </p>
            <p class="mb-2">
              <strong class="text-primary d-block">Shahzaib Ali</strong> Account
              Manager
            </p>
            <p class="mb-2">
              <strong class="text-primary d-block">Karim Ali</strong> Lead
              Technician
            </p>
            <ul class="list-unstyled">
              <li class="mb-2">
                For Support Call or Email Us
              </li>
              <li class="mb-2">
                <a href="mailto:sales@glitzair.com" class="text-decoration-none"
                  ><i class="fa-solid fa-envelope me-2"></i>
                  sales@glitzair.com</a
                >
              </li>
              <li>
                <a href="tel:(832) 713 7771" class="text-decoration-none"
                  ><i class="fa-solid fa-phone-flip me-2"></i> (832) 713 7771</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <h3>Overview Details</h3>
            <div class="row gx-2 justify-content-center mb-4">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Total revenue - Yesterday</h5>
                    <h3 class="mb-0 fw-bold">${{ earnings.daily }}</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Total revenue - Monthly</h5>
                    <h3 class="mb-0 fw-bold">${{ earnings.monthly }}</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Total revenue - Quarterly</h5>
                    <h3 class="mb-0 fw-bold">${{ earnings.quarter }}</h3>
                  </div>
                </div>
              </div>
            </div>


            <h3>Sales Report</h3>
            <div class="card loader-wrap">
              <div class="loader-bg" v-if="loader.sale_report">
                <div
                  class="spinner-grow text-primary spinner-loder"
                  role="status"
                >
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <div class="card-body">
                <div class="row justify-content-end align-items-end">
                  <div class="col-md-6">
                    Location Name : <strong>{{ location.name }}</strong
                    ><br />
                    Address: <strong>{{ location.address_1 }}</strong>
                  </div>
                  <div class="col-md-6 float-right">
                    <form
                      @submit.prevent="
                        getLocationDateWiseReport(clientUuid, locationId)
                      "
                      method="GET"
                    >
                      <div class="row gx-2 input-group input-daterange">
                        <div class="form-group col-md-5">
                          <label>From</label>
                          <input
                            v-model="filter.from"
                            type="date"
                            class="form-control"
                          />
                        </div>
                        <div class="form-group col-md-5">
                          <label>To</label>
                          <input
                            v-model="filter.to"
                            type="date"
                            class="form-control"
                          />
                        </div>
                        <div class="form-group col-md-2">
                          <label class="invisible">Submit</label>
                          <button
                            type="submit"
                            class="btn btn-primary"
                            :disabled="loader.sale_report"
                          >
                            Filter
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <table class="table mt-3">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Machine</th>
                      <th scope="col">Cash</th>
                      <th scope="col">Credit</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody class="filtered-data" v-if="report">
                    <tr v-for="sale in report.data">
                      <td
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                      >
                        {{ sale.machine_name }}
                      </td>
                      <td>${{ sale.cash }}</td>
                      <td>${{ sale.credit }}</td>
                      <td>${{ sale.cash + sale.credit }}</td>
                    </tr>
                    <tr class="font-weight-bold">
                      <td><strong>Total</strong></td>
                      <td>${{ report.totalCash }}</td>
                      <td>${{ report.totalCredit }}</td>
                      <td>${{ report.totalCash + report.totalCredit }}</td>
                    </tr>
                  </tbody>
                </table>
                <button
                  type="submit"
                  class="btn btn-primary"
                  v-on:click="downloadDateWiseReport(clientUuid, locationId)"
                >
                  Download Report
                </button>
              </div>
            </div>
            <br>
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="mb-0">Sales Comparison</h3>
              <select class="form-select bg-white w-auto" v-model="graphType">
                <option value="month">Month</option>
                <option value="quarter">Quarter</option>
                <option value="year">Year</option>
              </select>
            </div>
            <div class="bg-white my-4 p-3">

              <Scatter
                v-if="!loader.graph"
                :chart-options="chartOptions"
                :chart-data="chartData"
                :chart-id="chartId"
                :dataset-id-key="datasetIdKey"
                :plugins="plugins"
                :css-classes="cssClasses"
                :styles="styles"
                :width="width"
                :height="height"
              />
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div class="card">
              <h5 class="card-header">Edit details</h5>
              <div class="card-body loader-wrap">
                <div class="loader-bg" v-if="loader.location_edit">
                  <div
                    class="spinner-grow text-primary spinner-loder"
                    role="status"
                  >
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col-md-6">
                    <label class="form-label">Location name</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="location.name"
                    />
                    <div
                      class="invalid-msg"
                      v-if="locationForm.errors.has('name')"
                      v-html="locationForm.errors.get('name')"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Phone</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="location.phone"
                    />
                    <div
                      class="invalid-msg"
                      v-if="locationForm.errors.has('phone')"
                      v-html="locationForm.errors.get('phone')"
                    />
                  </div>
                </div>
                <div class="row g-2 mt-2">
                  <div class="col-md-6">
                    <label class="form-label">Address line 1</label>
                    <textarea
                      class="form-control"
                      rows="2"
                      v-model="location.address_1"
                    ></textarea>
                    <div
                      class="invalid-msg"
                      v-if="locationForm.errors.has('address_1')"
                      v-html="locationForm.errors.get('address_1')"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Address line 2</label>
                    <textarea
                      class="form-control"
                      rows="2"
                      v-model="location.address_2"
                    ></textarea>
                    <div
                      class="invalid-msg"
                      v-if="locationForm.errors.has('address_2')"
                      v-html="locationForm.errors.get('address_2')"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="form-label">City</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="location.city"
                    />
                    <div
                      class="invalid-msg"
                      v-if="locationForm.errors.has('city')"
                      v-html="locationForm.errors.get('city')"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="form-label">State</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="location.state"
                    />
                    <div
                      class="invalid-msg"
                      v-if="locationForm.errors.has('state')"
                      v-html="locationForm.errors.get('state')"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="form-label">Postal code</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="location.zip"
                    />
                    <div
                      class="invalid-msg"
                      v-if="locationForm.errors.has('postal_code')"
                      v-html="locationForm.errors.get('postal_code')"
                    />
                  </div>
                  <div class="col-12 text-end mt-3">
                    <button
                      class="btn btn-primary"
                      :disabled="loader.location_edit"
                      v-on:click="updateLocation(clientUuid, locationId)"
                    >
                      Update
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--          <div-->
          <!--            class="tab-pane fade"-->
          <!--            id="v-pills-messages"-->
          <!--            role="tabpanel"-->
          <!--            aria-labelledby="v-pills-messages-tab"-->
          <!--          >-->
          <!--            <div class="card">-->
          <!--              <h5 class="card-header">Send Invitation</h5>-->
          <!--              <div class="card-body">-->
          <!--                <div class="row">-->
          <!--                  <label-->
          <!--                    for="invitaion-email"-->
          <!--                    class="col-sm-3 col-form-label text-end"-->
          <!--                    >E-mail Address</label-->
          <!--                  >-->
          <!--                  <div class="col-sm-9">-->
          <!--                    <input-->
          <!--                      type="email"-->
          <!--                      class="form-control"-->
          <!--                      id="invitaion-email"-->
          <!--                    />-->
          <!--                    <button class="btn btn-primary mt-3">-->
          <!--                      Send Invitation-->
          <!--                    </button>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->

          <!--            <div class="card mt-3">-->
          <!--              <h5 class="card-header">Location Members (2)</h5>-->
          <!--              <div class="card-body">-->
          <!--                <table class="table table-border">-->
          <!--                  <thead>-->
          <!--                    <tr>-->
          <!--                      <th width="60"></th>-->
          <!--                      <th>Name</th>-->
          <!--                    </tr>-->
          <!--                  </thead>-->
          <!--                  <tbody>-->
          <!--                    <tr>-->
          <!--                      <td></td>-->
          <!--                      <td>You</td>-->
          <!--                    </tr>-->
          <!--                  </tbody>-->
          <!--                </table>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <div
            class="tab-pane fade"
            id="v-pills-email-us"
            role="tabpanel"
            aria-labelledby="v-pills-email-us-tab"
          >
            <div class="card loader-wrap">
              <div class="loader-bg" v-if="loader.send_email">
                <div
                  class="spinner-grow text-primary spinner-loder"
                  role="status"
                >
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <h5 class="card-header">Email us</h5>
              <div class="card-body">
                <div class="row g-3">
                  <div class="col-md-6">
                    <label>Subject</label>
                    <select class="form-select" v-model="supportForm.subject">
                      <option value="Need Repair/Maintainance">
                        Need Repair/Maintainance
                      </option>
                      <option value="Commission Related Questions">
                        Commission Related Questions
                      </option>
                      <option value="Request Callback">Request Callback</option>
                      <option value="Other">Other</option>
                    </select>
                    <div
                      class="invalid-msg"
                      v-if="supportForm.errors.has('subject')"
                      v-html="supportForm.errors.get('subject')"
                    />
                  </div>
                  <div class="col-md-12">
                    <textarea
                      cols="30"
                      rows="10"
                      class="form-control"
                      v-model="supportForm.message"
                    ></textarea>
                    <div
                      class="invalid-msg"
                      v-if="supportForm.errors.has('message')"
                      v-html="supportForm.errors.get('message')"
                    />
                    <div class="text-end mt-3">
                      <button
                        class="btn btn-primary"
                        :disabled="loader.send_email"
                        v-on:click="sendSupportMessage(clientUuid, locationId)"
                      >
                        Send
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from "vform";
import { Scatter } from "vue-chartjs/legacy";

import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  LineElement,
  CategoryScale,
  PointElement,
  LinearScale,
} from "chart.js";

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  LineElement,
  CategoryScale,
  PointElement,
  LinearScale
);

export default {
  name: "ScatterChart",
  components: {
    Scatter,
  },

  props: {
    chartId: {
      type: String,
      default: "scatter-chart",
    },
    datasetIdKey: {
      type: String,
      default: "label",
    },
    width: {
      type: Number,
      default: 400,
    },
    height: {
      type: Number,
      default: 400,
    },
    cssClasses: {
      default: "",
      type: String,
    },
    styles: {
      type: Object,
      default: () => {},
    },
    plugins: {
      type: Array,
      default: () => [],
    },
    clientUuid: {
      type: String,
    },
    locationId: {
      type: String,
    },
  },
  watch: {
    graphType: function (newVal, oldVal) {
      this.getLocationGraphData(this.clientUuid, this.locationId);
    },
  },
  mounted() {
    this.getLocation(this.clientUuid, this.locationId);
    this.getLocationStats(this.clientUuid, this.locationId);
    this.getLocationGraphData(this.clientUuid, this.locationId);
    this.getLocationDateWiseReport(this.clientUuid, this.locationId);
  },
  data() {
    return {
      loader: {
        sale_report: false,
        graph: false,
        location_edit: false,
        send_email: false,
      },
      location: {
        name: null,
      },
      earnings: {
        daily: null,
        monthly: null,
        quarter: null,
      },
      graphType: "month",
      report: null,
      filter: {
        to: null,
        from: null,
      },
      locationForm: new Form({
        name: null,
        phone: null,
        address_1: null,
        address_2: null,
        city: null,
        state: null,
        zip: null,
      }),
      supportForm: new Form({
        email: null,
        subject: null,
        message: null,
      }),
      chartData: {
        datasets: [
          {
            label: "",
            fill: true,
            borderColor: "#f87979",
            backgroundColor: "#f87979",
            data: [],
          },
          {
            label: "",
            fill: true,
            borderColor: "#7acbf9",
            backgroundColor: "#7acbf9",
            data: [],
          },
        ],
      },
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        showLine: true,
        fill: true,
        scales: {
          y: {
            ticks: {
              // Include a dollar sign in the ticks
              callback: function (value, index, ticks) {
                return "$" + value;
              },
            },
          },
          x: {
            ticks: {
              min: 1,
              max: 31,
              stepSize: 1,
              // Include a dollar sign in the ticks
              callback: function (value, index, ticks) {
                return value;
              },
            },
          },
        },
      },
    };
  },
  methods: {
    getLocation(clientUuid, locationId) {
      axios
        .get("/ajax/" + clientUuid + "/locations/" + locationId)
        .then((res) => {
          this.location = res.data;
        });
    },
    updateLocation(clientUuid, locationId) {
      this.locationForm.name = this.location.name;
      this.locationForm.address_1 = this.location.address_1;
      this.locationForm.address_2 = this.location.address_2;
      this.locationForm.city = this.location.city;
      this.locationForm.state = this.location.state;
      this.locationForm.postal_code = this.location.zip;
      this.locationForm.phone = this.location.phone;
      this.loader.location_edit = true;
      this.locationForm
        .post("/ajax/" + clientUuid + "/locations/" + locationId + "/update")
        .then((res) => {
          this.$toastr.s("Success", "User updated!");
        })
        .catch((error) => {
          this.$toastr.e("Error", "Some thing went wrong.");
        })
        .finally(() => (this.loader.location_edit = false));
    },
    getLocationStats(clientUuid, locationId) {
      axios
        .get("/ajax/" + clientUuid + "/locations/" + locationId + "/stats")
        .then((res) => {
          this.earnings = res.data;
        });
    },
    getLocationDateWiseReport(clientUuid, locationId) {
      this.loader.sale_report = true;
      axios
        .get(
          "/ajax/" + clientUuid + "/locations/" + locationId + "/sales-details",
          { params: { from: this.filter.from, to: this.filter.to } }
        )
        .then((res) => {
          this.report = res.data;
        })
        .finally(() => {
          this.loader.sale_report = false;
        });
    },
    getLocationGraphData(clientUuid, locationId) {
      this.loader.graph = true;
      axios
        .get(
          "/ajax/" +
            clientUuid +
            "/locations/" +
            locationId +
            "/get-graph-data",
          { params: { type: this.graphType } }
        )
        .then((res) => {
          this.chartData.datasets[0].data = res.data.previous;
          this.chartData.datasets[0].label = "previous " + this.graphType;
          this.chartData.datasets[1].data = res.data.current;
          this.chartData.datasets[1].label = "current " + this.graphType;

          if (this.graphType == "month") {
            this.chartData.datasets[1].scales.x.ticks.max = 31;
          } else {
            this.chartData.datasets[1].scales.x.ticks.max = 12;
          }
        })
        .finally(() => {
          this.loader.graph = false;
        });
    },
    downloadDateWiseReport(clientUuid, locationId) {
      let url =
        "/ajax/" +
        clientUuid +
        "/locations/" +
        locationId +
        "/get-sales-report";
      if (this.filter.from != null && this.filter.to != null) {
        url =
          "/ajax/" +
          clientUuid +
          "/locations/" +
          locationId +
          "/get-sales-report?from=" +
          this.filter.from +
          "&to=" +
          this.filter.to;
      }
      window.location.href = url;
    },
    sendSupportMessage(clientUuid, locationId) {
      this.loader.send_email = true;
      this.supportForm
        .post("/ajax/" + clientUuid + "/locations/" + locationId + "/support")
        .then((res) => {
          this.$toastr.s("Success", "User updated!");
          this.supportForm.reset();
        })
        .catch((error) => {
          this.$toastr.e("Error", "Some thing went wrong.");
          console.log(error);
        })
        .finally(() => (this.loader.send_email = false));
    },
  },
};
</script>
