<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header">User Info</h5>
          <div class="card-body loader-wrap">
            <div class="loader-bg" v-if="loader.user">
              <div
                class="spinner-grow text-primary spinner-loder"
                role="status"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label text-end">Name</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  v-model="userForm.name"
                />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label text-end">Email</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  v-model="userForm.email"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 col-form-label text-end">Password</label>
              <div class="col-sm-10">
                <input
                  type="password"
                  v-model="userForm.password"
                  class="form-control"
                />
                <div class="text-end mt-3">
                  <button
                    class="btn btn-primary"
                    v-on:click="update(clientUuid)"
                  >
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from "vform";
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  props: ["clientUuid", "user"],
  mounted() {
    this.userForm.name = JSON.parse(this.user).name;
    this.userForm.email = JSON.parse(this.user).email;
  },
  data() {
    return {
      loader: {
        user: false,
      },
      userForm: new Form({
        name: null,
        email: null,
        password: null,
      }),
    };
  },
  methods: {
    update(clientUuid) {
      this.loader.user = true;
      this.userForm
        .post("/ajax/" + clientUuid + "/profile")
        .then((res) => {
          this.$toastr.s("Success", "Information updated !");
          this.userForm.password = null;
        })
        .catch((error) => {
          this.$toastr.e("Error", "Some thing went wrong.");
        })
        .finally(() => (this.loader.user = false));
    },
  },
};
</script>
