<template>
  <div class="container">
    <div class="mb-3 d-flex aling-items-center justify-content-between">
      <h1 class="h5 fw-bold mb-0">My Team</h1>
      <div>
        <button
          class="btn btn-primary btn-sm"
          v-on:click="openAddMemberPopup()"
        >
          <i class="fa-solid fa-user-plus"></i> Add Member
        </button>
      </div>
    </div>
    <v-client-table :data="members" :columns="columns" :options="options">
      <span slot="Name" slot-scope="{ row }">
        {{ row.user ? row.user.name : "-" }}
      </span>
      <span slot="Email" slot-scope="{ row }">
        {{ row.invite_email }}
      </span>

      <span slot="Status" slot-scope="{ row }">
        <span class="badge rounded-pill bg-secondary" v-if="row.accpeted_at == null">Pending</span>
        <span class="badge rounded-pill bg-success" v-if="row.accpeted_at != null">Accepted</span>
      </span>
      <span slot="Action" slot-scope="{ row }">
        <button
          class="btn btn-primary btn-sm"
          v-on:click="editMemberPopup(row)"
        >
          <i class="fa-solid fa-pen"></i> Edit
        </button>
        <button
          class="btn btn-danger btn-sm"
          v-on:click="deleteMember(clientUuid, row.id)"
        >
          <i class="fa-solid fa-trash"></i> Delete
        </button>
      </span>
    </v-client-table>

    <!-- Modal -->
    <div
      class="modal fade"
      id="addMember"
      data-bs-backdrop="static"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Invite a New Member
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body loader-wrap">
            <div class="loader-bg" v-if="loader.invite">
              <div
                class="spinner-grow text-primary spinner-loder"
                role="status"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <form>
              <div class="mb-3">
                <label class="col-form-label">EMAIL:</label>
                <input
                  type="text"
                  v-model="inviteForm.email"
                  class="form-control"
                />
                <div
                  class="invalid-msg"
                  v-if="inviteForm.errors.has('email')"
                  v-html="inviteForm.errors.get('email')"
                />
              </div>
              <div class="mb-3">
                <label class="col-form-label">Locations:</label>
                <multiselect
                  v-model="inviteForm.locations"
                  placeholder="Search or add item"
                  label="name"
                  track-by="id"
                  :options="locations"
                  :multiple="true"
                  :taggable="true"
                  :searchable="true"
                  :internal-search="true"
                  :clear-on-select="false"
                  :close-on-select="false"
                  :options-limit="50"
                  :limit="15"
                >
                </multiselect>
                <div
                  class="invalid-msg"
                  v-if="inviteForm.errors.has('locations')"
                  v-html="inviteForm.errors.get('locations')"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              :disabled="loader.invite"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              :disabled="loader.invite"
              v-on:click="sendInvite(clientUuid)"
            >
              Send Invite
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="editMember"
      data-bs-backdrop="static"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Locations</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body loader-wrap">
            <div class="loader-bg" v-if="loader.updateLocation">
              <div
                class="spinner-grow text-primary spinner-loder"
                role="status"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <form>
              <div class="mb-3">
                <label class="col-form-label">EMAIL:</label>
                <input
                  disabled
                  type="text"
                  v-model="editLocationForm.email"
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label class="col-form-label">Locations:</label>
                <multiselect
                  v-model="editLocationForm.locations"
                  placeholder="Search or add item"
                  label="name"
                  track-by="id"
                  :options="locations"
                  :multiple="true"
                  :taggable="true"
                  :searchable="true"
                  :internal-search="true"
                  :clear-on-select="false"
                  :close-on-select="false"
                  :options-limit="50"
                  :limit="15"
                >
                </multiselect>
                <div
                  class="invalid-msg"
                  v-if="inviteForm.errors.has('locations')"
                  v-html="inviteForm.errors.get('locations')"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              :disabled="loader.updateLocation"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              :disabled="loader.updateLocation"
              v-on:click="updateLocation(clientUuid)"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "vue-select/dist/vue-select.css";

import Form from "vform";
import Multiselect from "vue-multiselect";
import { ServerTable, ClientTable, Event } from "vue-tables-2";
Vue.use(ClientTable);

export default {
  components: { Multiselect },
  props: ["clientUuid"],
  mounted() {
    this.getTeamMember(this.clientUuid);
    this.getLocations(this.clientUuid);
  },
  data() {
    return {
      locations: [],
      selected: null,
      loader: {
        invite: false,
        updateLocation: false,
        team: false,
        delete: false,
      },
      inviteForm: new Form({
        email: null,
        locations: [],
      }),
      editLocationForm: new Form({
        email: null,
        member_id: null,
        locations: [],
      }),
      members: [],

      columns: ["Name", "Email", "Status", "Action"],
      options: {
        "headers": {
          "Name": "Name",
          "Email": "Email",
          "Status": "Status",
          "Action": "Action"
        },
        filterAlgorithm: {
          Name(row, query) {
            return ( row.user ? row.user.name : '' ).includes(query);
          },
          Email(row, query) {
            return ( row.invite_email ).includes(query);
          },
          Status(row, query) {
            return ( row.accpeted_at == null ? 'pending': 'accepted'  ).includes(query);
          }
        }

      },
    };
  },
  methods: {
    sendInvite(clientUuid) {
      this.loader.invite = true;
      this.inviteForm
        .post("/ajax/" + clientUuid + "/users/send-invite")
        .then((res) => {
          this.$toastr.s("Success", "Invite sent successfully !");
          this.inviteForm.reset();
          this.getTeamMember(this.clientUuid);
          $("#addMember").modal("hide");
        })
        .catch((error) => {
          this.$toastr.e("Error", "Some thing went wrong.");
        })
        .finally(() => (this.loader.invite = false));
    },
    getTeamMember(clientUuid) {
      this.loader.team = true;
      axios
        .get("/ajax/" + clientUuid + "/team")
        .then((res) => {
          this.members = res.data;
        })
        .catch((error) => {
          this.$toastr.e("Error", "Some thing went wrong.");
        })
        .finally(() => (this.loader.team = false));
    },
    deleteMember(clientUuid, memberId) {
      this.loader.delete = true;
      axios
        .post("/ajax/" + clientUuid + "/team/" + memberId + "/delete")
        .then((res) => {
          this.$toastr.s("Success", "Record deleted.");
          this.getTeamMember(this.clientUuid);
        })
        .catch((error) => {
          this.$toastr.e("Error", "Some thing went wrong.");
        })
        .finally(() => (this.loader.delete = false));
    },
    getLocations(clientUuid) {
      axios.get("/ajax/" + clientUuid + "/locations").then((res) => {
        this.locations = res.data;
      });
    },
    openAddMemberPopup() {
      $("#addMember").modal("show");
    },
    editMemberPopup(member) {
      this.editLocationForm.email = member.invite_email;
      this.editLocationForm.locations = member.locations;
      this.editLocationForm.member_id = member.id;
      $("#editMember").modal("show");
    },
    updateLocation(clientUuid) {
      this.loader.updateLocation = true;
      this.editLocationForm
        .post(
          "/ajax/" +
            clientUuid +
            "/member/" +
            this.editLocationForm.member_id +
            "/locations"
        )
        .then((res) => {
          this.$toastr.s("Success", "Invite sent successfully !");
          this.getTeamMember(this.clientUuid);
        })
        .catch((error) => {
          this.$toastr.e("Error", "Some thing went wrong.");
        })
        .finally(() => (this.loader.updateLocation = false));
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
