<template>
  <!--    <card class="flex flex-col items-center justify-center">-->
  <div>
    <card class="chart-card">
      <div class="card-header">
        <h4 class="text-center text-2xl text-80 font-normal">
          Sales by period
        </h4>
        <select
          class="form-select form-control bg-white w-auto"
          v-model="sales_type"
        >
          <option value="last_7_days">Last 7 days</option>
          <option value="last_30_days">Last 30 days</option>
          <option value="last_12_months">Last 12 months</option>
        </select>
      </div>
      <div class="card-body">
        <div class="chart-div">
          <loader class="chart-loder" v-if="loader.sales_graph" />
          <canvas
            v-show="!loader.sales_graph"
            id="salesChart"
            width="400"
            height="400"
          ></canvas>
        </div>
      </div>
    </card>
    <card class="chart-card">
      <div class="card-header">
        <h4 class="text-center text-2xl text-80 font-normal">Performance</h4>
        <div>
          <select
            class="form-select form-control bg-white w-auto"
            v-model="performance_type"
          >
            <option value="last_7_days">Last 7 days</option>
            <option value="last_30_days">Last 30 days</option>
            <option value="last_12_months">Last 12 months</option>
          </select>
          <select
            class="form-select form-control bg-white w-auto"
            v-model="performance_order"
          >
            <option value="top_10">Top 10 Locations</option>
            <option value="least_10">Least 10 Locations</option>
          </select>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-div">
          <loader class="chart-loder" v-if="loader.performance_graph" />
          <canvas
            v-show="!loader.performance_graph"
            id="performanceChart"
            width="400"
            height="400"
          ></canvas>
        </div>
      </div>
    </card>
    <card class="chart-card">
      <div class="card-header">
        <h4 class="text-2xl text-80 font-normal">
          Last Year vs This Year Monthly Sales
        </h4>
      </div>
      <div class="card-body">
        <div class="chart-div">
          <loader class="chart-loder" v-if="loader.sales_yearly_graph" />
          <canvas
            v-show="!loader.sales_yearly_graph"
            id="salesYearlyChart"
            width="400"
            height="400"
          ></canvas>
        </div>
      </div>
    </card>
  </div>
</template>

<script>
import Chart from "chart.js";
export default {
  props: ["card"],
  data() {
    return {
      loader: {
        sales_graph: false,
        sales_yearly_graph: false,
        performance_graph: false
      },
      sales_type: "last_7_days",
      performance_type: "last_7_days",
      performance_order: "top_10",
      charts: {
        sales: {
          canvas: null,
          data: {
            labels: [],
            datasets: [
              {
                label: "Cash",
                data: [],
                //backgroundColor: 'rgba(255, 99, 132, 0.2)',
                backgroundColor: "#36a2eb",
                borderColor: "rgba(255, 99, 132, 1)",
                borderWidth: 1
              },
              {
                label: "Credit",
                data: [],
                // backgroundColor: 'rgba(54, 162, 235, 0.2)',
                backgroundColor: "#ff6484",
                borderColor: "rgba(54, 162, 235, 1)",
                borderWidth: 1
              }
            ]
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                    callback: function(value, index, ticks) {
                      return "$" + value;
                    }
                  }
                }
              ]
            },
            responsive: true,
            maintainAspectRatio: false
          }
        },
        perfomance: {
          canvas: null,
          data: {
            labels: [],
            datasets: [
              {
                label: "Location",
                data: [],
                // backgroundColor: 'rgba(255, 99, 132, 0.2)',
                backgroundColor: function(value) {
                  // Callback instead of static color
                  var colorArray = [
                    "#FF6633",
                    "#FFB399",
                    "#FF33FF",
                    "#FFFF99",
                    "#00B3E6",
                    "#E6B333",
                    "#3366E6",
                    "#999966",
                    "#99FF99",
                    "#B34D4D",
                    "#80B300",
                    "#809900",
                    "#E6B3B3",
                    "#6680B3",
                    "#66991A",
                    "#FF99E6",
                    "#CCFF1A",
                    "#FF1A66",
                    "#E6331A",
                    "#33FFCC",
                    "#66994D",
                    "#B366CC",
                    "#4D8000",
                    "#B33300",
                    "#CC80CC",
                    "#66664D",
                    "#991AFF",
                    "#E666FF",
                    "#4DB3FF",
                    "#1AB399",
                    "#E666B3",
                    "#33991A",
                    "#CC9999",
                    "#B3B31A",
                    "#00E680",
                    "#4D8066",
                    "#809980",
                    "#E6FF80",
                    "#1AFF33",
                    "#999933",
                    "#FF3380",
                    "#CCCC00",
                    "#66E64D",
                    "#4D80CC",
                    "#9900B3",
                    "#E64D66",
                    "#4DB380",
                    "#FF4D4D",
                    "#99E6E6",
                    "#6666FF"
                  ];

                  return colorArray[
                    Math.floor(Math.random() * colorArray.length)
                  ];
                },
                borderColor: "rgba(255, 99, 132, 1)",
                borderWidth: 1,
                barPercentage: 0.5,
                barThickness: 30,
                maxBarThickness: 50,
                minBarLength: 2
              }
            ]
          },
          options: {
            legend: {
              display: false //This will do the task
            },
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              responsive: true,
              xAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                    callback: function(value, index, ticks) {
                      return "$" + value;
                    }
                  }
                }
              ],
              yAxes: [
                {
                  ticks: {
                    padding: 0
                  }
                }
              ]
            }
          }
        },
        sales_yearly: {
          canvas: null,
          data: {
            labels: [
              "Jan",
              "Feb",
              "Mar",
              "Apr",
              "May",
              "Jun",
              "Jul",
              "Aug",
              "Sep",
              "Oct",
              "Nov",
              "Dec"
            ],
            datasets: [
              {
                label: "current",
                data: [],
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                lineTension: 0,
                borderColor: "rgba(255, 99, 132, 1)"
              },
              {
                label: "previous",
                data: [],
                backgroundColor: "rgba(54, 162, 235, 0.2)",
                lineTension: 0,
                borderColor: "rgba(54, 162, 235, 1)"
              }
            ]
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                    callback: function(value, index, ticks) {
                      return "$" + value;
                    }
                  }
                }
              ]
            },
            responsive: true,
            maintainAspectRatio: false
          }
        }
      }
    };
  },
  watch: {
    sales_type: function(newVal, oldVal) {
      this.getSalesGraphData();
    },
    performance_type: function(newVal, oldVal) {
      this.getPerformanceData();
    },
    performance_order: function(newVal, oldVal) {
      this.getPerformanceData();
    }
  },
  mounted() {
    var ctx = document.getElementById("salesChart").getContext("2d");
    this.charts.sales.canvas = new Chart(ctx, {
      type: "bar",
      data: this.charts.sales.data,
      options: this.charts.sales.options
    });
    this.getSalesGraphData();

    var performanceCtx = document
      .getElementById("performanceChart")
      .getContext("2d");
    this.charts.perfomance.canvas = new Chart(performanceCtx, {
      type: "horizontalBar",
      data: this.charts.perfomance.data,
      options: this.charts.perfomance.options
    });
    this.getPerformanceData();

    var ctxSalesYearly = document
      .getElementById("salesYearlyChart")
      .getContext("2d");
    this.charts.sales_yearly.canvas = new Chart(ctxSalesYearly, {
      type: "line",
      data: this.charts.sales_yearly.data,
      options: this.charts.sales_yearly.options
    });
    this.getSalesYearlyGraphData();
  },
  methods: {
    getSalesGraphData() {
      this.loader.sales_graph = true;
      axios
        .get("/nova-vendor/SalesByPeriod/get-sales-data", {
          params: { type: this.sales_type }
        })
        .then(res => {
          this.charts.sales.data.labels = res.data.label;
          this.charts.sales.data.datasets[0].data = res.data.cash;
          this.charts.sales.data.datasets[1].data = res.data.credit;
          this.charts.sales.canvas.update();
        })
        .finally(() => {
          this.loader.sales_graph = false;
        });
    },

    getSalesYearlyGraphData() {
      this.loader.sales_yearly_graph = true;
      axios
        .get("/nova-vendor/SalesByPeriod/get-sales-yearly-data")
        .then(res => {
          this.charts.sales_yearly.data.datasets[0].data = res.data.current;
          this.charts.sales_yearly.data.datasets[1].data = res.data.previous;
          this.charts.sales_yearly.canvas.update();
        })
        .finally(() => {
          this.loader.sales_yearly_graph = false;
        });
    },
    getPerformanceData() {
      this.loader.performance_graph = true;
      axios
        .get("/nova-vendor/SalesByPeriod/get-location-performance-data", {
          params: { type: this.performance_type, order: this.performance_order }
        })
        .then(res => {
          this.charts.perfomance.data.datasets[0].data = res.data.x;
          this.charts.perfomance.data.labels = res.data.lables;
          this.charts.perfomance.canvas.update();
        })
        .finally(() => {
          this.loader.performance_graph = false;
        });
    }
  }
};
</script>
