<template>
    <div class="container mx-auto p-6">
      <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Assign Permissions to User</h1>
  
      <!-- Form to assign permissions -->
      <form @submit.prevent="submitForm" class="space-y-6 bg-white p-6 rounded-lg shadow-lg">
        <!-- Select User -->
        <div class="mb-4">
          <label for="user" class="text-lg font-semibold text-gray-700">Select User</label>
          <multiselect
            v-model="form.user"
            :options="users"
            :searchable="true"
            :clear-on-select="true"
            placeholder="Search and select a user"
            track-by="id"
            label="name"
            id="user"
            required
            class="multiselect"
            @input="onUserSelected"
          ></multiselect>
        </div>
  
        <!-- Select Permissions -->
        <div class="mb-4">
          <label for="permissions" class="text-lg font-semibold text-gray-700">Assign Permissions</label>
          <multiselect
            v-model="form.permissions"
            :options="permissions"
            :multiple="true"
            :searchable="true"
            placeholder="Search and select permissions"
            track-by="id"
            label="name"
            id="permissions"
            class="multiselect"
          ></multiselect>
        </div>
  
        <!-- Submit Button -->
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-primary hover:bg-blue-600 transition duration-300"
          >
            Save Permissions
          </button>
        </div>
      </form>
    </div>
  </template>
  
  <script>
  import Multiselect from "vue-multiselect";
  import "vue-multiselect/dist/vue-multiselect.min.css";
  
  export default {
    components: {
      Multiselect,
    },
    data() {
      return {
        form: {
          user: null,
          permissions: [],
        },
        users: [],
        permissions: [],
      };
    },
    mounted() {
      this.fetchData();
    },
    methods: {
      async fetchData() {
        try {
          // Fetch users
          const usersResponse = await Nova.request().get("/nova-vendor/user-permission-manager/admin-users");
          if (usersResponse.data && Array.isArray(usersResponse.data)) {
            this.users = usersResponse.data.map((user) => { 
              return {
                id: user.id,
                name: user.name + ` (${user.email})`,
                email: user.email,
                permissions: user.permissions && user.permissions.length > 0
                ? user.permissions.map((permission) => (
                     {
                        id: permission.id,
                        name: permission.name
                    }
                )) : []
              };
            });
          } else {
            throw new Error("Unexpected response for users.");
          }
  
          // Fetch permissions
          const permissionsResponse = await Nova.request().get("/nova-vendor/user-permission-manager/permissions");
          if (permissionsResponse.data && Array.isArray(permissionsResponse.data)) {
            this.permissions = permissionsResponse.data.map((permission) => {
            
              return {
                id: permission.id,  
                name: permission.name ,
              };
            });
          } else {
            throw new Error("Unexpected response for permissions.");
          }
        } catch (error) {
          this.$toasted.show("Failed to load data: " + error.message, { type: "error" });
        }
      },
      onUserSelected(selectedUser) {
        // Method to call when a user is selected
        this.form.permissions = selectedUser.permissions;
        console.log('Selected User ID:', selectedUser);

     },
      async submitForm() {
        try {
          await Nova.request().post("/nova-vendor/user-permission-manager/assign-permissions", this.form);
          this.$toasted.show("Permissions assigned successfully", { type: "success" });
  
          // Reset form after successful submission
          this.form.user = null;
          this.form.permissions = [];
          window.location.reload();
        } catch (error) {
          this.$toasted.show("Failed to assign permissions: " + error.message, { type: "error" });
        }
      },
    },
  };
  </script>
  
  <style scoped>
  .multiselect {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0.5rem;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .multiselect .multiselect__placeholder {
    color: #888;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .container {
    max-width: 800px;
  }
  </style>
  