<template>
   <div class="btnOuterCommissonReport">
        <a class="btn btn-default btn-primary"  href="/nova-vendor/commission-report/commission-report">Commission Report</a>
   </div>
</template>

<script>
export default {
    props: [
        'card',

        // The following props are only available on resource detail cards...
        // 'resource',
        // 'resourceId',
        // 'resourceName',
    ],

    mounted() {
        //
    },
}
</script>
